extends layout

block content
  .ui.grid.container.stackable.padded
    .ui.grey.seven.item.inverted.menu.huge
      a.active.item(href='#')
        i.home.icon
        | Home
      a.item(href='#')
        i.user.icon
        | Quienes somos
      a.item(href='#')
        i.sun.icon
        | Servicios
      a.item(href='#')
        i.bar.chart.icon
        | Encuestas
      a.item(href='#')
        i.line.chart.icon
        | GiiData
      a.item(href='#')
        i.newspaper.icon
        | GiiNews
      a.item(href='#')
        i.mail.outline.icon
        | Contacto
    span
      i.gamepad.icon.
